body {
	background: #fff; 
	margin:0;padding:0;
    font-family: Arial, sans-serif;
}
li{
	list-style: none;
}
.container {
	margin:0 auto; 
	height:auto; 
	padding:0 10px;
	width: 98%;
	max-width: 100%;
}
.desc_empresa{
	width: 400px;
	max-width: 100%;
	font-size: 1.2em;
}
.desc_empresa li{
	margin: 0;
	padding: 0;
	width: 200px;
	max-width: 100%;
	font-weight: bold;
	float: left;
}
.form_tbl{
	margin: 0 auto;
}
.desc_empresa p{
	margin: 0;
	padding: 0;
	float: right;
	font-weight:normal;
}

.grid-1-12, 
.grid-2-12, .grid-3-12, .grid-4-12,
.grid-5-12, .grid-6-12, .grid-7-12, .grid-8-12,
.grid-9-12, .grid-10-12, .grid-11-12, .grid-12-12{
	margin: 0;
	padding: 0;	
	max-width: 100%;
} 

.form_tbl  label{
	background: #ddd;
	height: auto;
	text-align: center;
	height: 35px;
	line-height: 2.5;
}
#accordion{
	margin: 20px 0 0 0;
	max-width: 100%;
}

.conteudoAcordeao{
	height: 300px;
}